@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.topnav {
  background-color: #b0197e;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 12;
  overflow: visible;
  z-index: 99999;
}
.content {
  padding-top: 50px;
}
.editor-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr
}
.addElements {
  position: fixed;
  width: 25%;
  top: 50;
}
.resume {
  /*These are here for later.*/
}
.tweakElements {
  /*Just in case I need to tweak something (VSCode please stop yelling at me it hurts my feelings)*/
}